h1 {
    font-size: 2rem;
    font-weight: bold;
    background-color: #673ab7;
    margin-bottom: 0;
    color: white;
    border-bottom: 1px solid white;
    padding: 16px;
}

.navbar {
    margin-bottom: 16px;
}